language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - hhvm
  - 7

before_script:
  - composer self-update
  - composer install --prefer-source

script:
  - vendor/bin/phpunit --coverage-clover=coverage.clover

after_script:
  - test "5.6" == "${TRAVIS_PHP_VERSION}" && wget https://scrutinizer-ci.com/ocular.phar
  - test -f ocular.phar && php ocular.phar code-coverage:upload --format=php-clover coverage.clover